/* * {
  border: .1rem solid red;
} */

/*--------------------------BODY---------------------*/
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

/*--------------------------MAIN---------------------*/
main {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: #EAEAF4;
}

/*--------------------------LEFT SIDE ASIDE---------------------*/
aside {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 35vw;
  margin: 0;
  background-color: #1F1F3D;
}

p {
  color: #E9E9F3;
  font-weight: bold;
}

.show-favorite-button {
  border: none;
  text-align: center;
  height: 2.75rem;
  width: 25vw;
  font-weight: bold;
  font-size: 1rem;
  color: #E9E9F3;
  background-color: #5356A4;
  border-radius: 0.05rem;
}

.border-line {
  border-bottom: 0.15rem solid #353567;
}

.idea-header-text {
  font-size: 1.5rem;
  color: #E9E9F3;
}

.idea-header-text, 
.filter-favorite-text,
.show-favorite-box {
  padding-left: 1.4rem;
}

.filter-favorite-text { 
  margin-bottom: 1.5rem;;
  color: #BFBFDD;
  font-size: 1rem;
}

.show-favorite-button {
  margin-bottom: 1.5rem;
  font-size: 1.3rem;
  color: #E9E9F3;
}

/*--------------------------RIGHT SIDE SECTION---------------------*/
section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 80vw;
  margin: 0;
}

/*--------------------------RIGHT SIDE FORM---------------------*/
form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 52vh;
  margin-left: .1rem;
  padding-top: 0.015rem;
  font-weight: bold;
  color: #1F1F3D;
  background-color: #A9AAD2;
}

label {
  display: block;
  margin-top: 1rem;
  margin-bottom: 0.2rem;
}

.title-input,
.save-button,
.text-input {
  border: .13rem solid#5356A4;
  height: 3rem;
  width: 40vw;
  padding-left: 0.5rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  box-sizing: border-box;
}
}

.title-input::placeholder,
.text-input::placeholder {
  padding-left: 0.5rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 4rem;
  color: red;
}

.text-input {
  height: 5rem;
  resize: none;
}

.save-button {
  border: .13rem solid #353567;
  margin-bottom: 0.1rem;
  color: #E9E9F3;
  background-color: #353567;
  font-size: 1.3rem;
  font-weight: bolder;
  border-radius: 0.12rem;
}

.save-button:disabled {
  background-color: #5356A4;
  cursor: not-allowed;
}

.search-container {
  display: flex;
  align-items: center;
  height: 3rem;
  width: 40vw;
  margin-bottom: 1rem;
}

.search-bar-input {
  border: .13rem solid #353567;
  display: flex;
  /* height: 3rem; */
  /* width: 27.55rem; */
  /* width: 45.05vw; */
  height: 100%;
  width: 100%;
  font-size: 1rem;
  font-weight: light;
  border-radius: 0.06rem;
}

.search-icon-container {
  border: .13rem solid #353567;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3rem;
  background-color:#353567;
  box-sizing: border-box;
}

.search-icon-image {
  height: 1.5rem;
  width: 2.5rem;
  font-size: 12rem;
  border-radius: 0.05rem;
}

.search-bar-input {
  padding-left: .5rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
}


.search-bar-input::placeholder {
  padding-left: .20rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
}

/*--------------------------RIGHT SIDE ARTICLE---------------------*/
.idea-box-class {
  display: flex;
  flex-wrap: wrap;
  height: 48vh;
  background-color: #EAEAF4;
  overflow:scroll;
}

.idea-boxes {
  border: .13rem solid #1F1F3D;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 330px;
  width: 280px;
  margin: 1.5rem;
  margin-right: 1.2rem;
  margin-bottom: 0rem;
  background-color: #FFFFFF;
  box-sizing: border-box;
}

.idea-box-header {
  /* border: .2rem solid #1F1F3D; */
  display: flex;
  height: 2rem;
  /* margin: 0!important;
  padding: 0!important; */
  justify-content: space-between;
  background-color: #1F1F3D;
  /* box-sizing: border-box; */
}

.idea-box-icons {
  height: 2rem;
  width: 2rem;
  /* background-color: #1F1F3D; */
}
.comment-title,
.comment-text {
  padding: 0 1rem;
  color: black;
}

.comment-information {
  display: flex;
  flex-direction: column;
  height: 15rem;
  margin: 0;
  overflow: scroll;
}

.comment-title {
  margin-bottom: 1rem;
  font-size: 1.1rem;
  font-weight: bold;
}

.comment-text {
  margin: 0rem;
  font-size: 1.4rem;
  font-weight: lighter;
}

.comment-footer {
  border-top: .13rem solid #1F1F3D;
  display: flex;
  align-items: center;
  height: 2rem;
  background-color: #5356A4;
}

/*-------------------HIDDEN---------------*/
.hidden {
  display: none;
}